
/* BASIC*/
* {
	margin: 0;
	padding: 0;
}
	
body {
	background: #000;
	color: #fff;
}

/* LAYOUT */
	/* The width and height of "wrapper", "upper-left", "upper-right"
	and "bottom" needs to be changed in order to match your monitor's resolution */
#wrapper { 
	width: 900px;
	height: 1800px;
	margin: 0 auto;
}

	#upper-left {
		width: 40%;
		height: 40%;
		margin: 5px 5px 0 0;
		float: left;
		text-align: left;
	}
	
	#upper-right {
		width: 40%;
		height: 40%;
		margin: 5px 5px 0 0;
		float: right;
		text-align: right;
	}
	
	#bottom-right {
		width: 40%;
		height: 25%;
		margin: 0 0 0 0;
		float: right;
/*		background: url(bg.gif) repeat-x;*/
		text-align: right;		
	}

	#bottom-left {
		width: 40%;
		height: 25%;
		margin: 0 5px 0 5px;
		float: left;
/*		background: url(bg.gif) repeat-x;*/
		text-align: left;
	}
	#middle{
		width: 80%;
		height: 25%;
		float: left;
		text-align:center;		
		margin: 5px 5px 5px 5px;
	}

/* TEXT */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 102px;
	font-weight: 300;
	line-height: 102px;
	}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	}
	
h2.smaller {
	font-size: 22px;
	letter-spacing: 1px;
	}	
	
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 300;
	padding: 20px 0 0 0;
	}
	
p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	}	
	
p.date {
	font-size: 12px;
	font-weight: 600;
	}
	
td {
	font-size:24px;
	padding: 0 10px 0 10px;
	}